page-login {

  .login-content {
    overflow-x: hidden;

    .login-top {
      color: #FFF;
      height: 205px;
      position: relative;
      z-index:2;
      text-align:center;
      padding-top:60px;

      .bg {
        background-color: #636363;
        background: -webkit-linear-gradient(45deg, #e48c07 0%,#ffda00 100%);
        background: linear-gradient(45deg, #e48c07 0%,#ffda00 100%);
        box-shadow: 0 5px 15px rgba(255, 205, 24, 0.3);
        position: absolute;
        bottom:20px;
        right:-20px;
        width: 120%;
        height: 120%;
        transform: rotate(-10deg);
        z-index: 1;
      }

      .login-icon {
        width:112px;
        height: 112px;
        background:#FFF;
        position: absolute;
        left:50%;
        bottom:-36px;
        border-radius:56px;
        margin-left:-56px;
        box-shadow: 0 5px 15px rgba(255, 205, 24, 0.3);
        color:#e48c07;
        font-size:38px;
        text-align:center;
        line-height:112px;
        z-index:2;
      }

      h1 {
        font-family: 'montserratbold';
        font-weight: 400;
        font-size:37px;
        margin: 0;
        position: relative;
        z-index:2;
      }
    }

    .login-box {
      margin: -50px 21px 53px;
      background:#FFF;
      padding:90px 30px 35px;
      box-shadow: 0 10px 15px rgba(1,1,1,.1);
      position: relative;
      z-index: 1;
      border-radius: 0 0 8px 8px;

      ion-item {
        padding: 0;
        font-size: 1em;

        .item-inner {
          padding: 0;
          border: none;
          display: block;
          position: relative;
          z-index: 1;
        }

        ion-badge {
          position: absolute;
          display: block;
          top:50%;
          margin:-12px 0 0 0;
          background: none;
          padding: 0;
          border-radius: 0;

          &[item-left] {
            left: 15px;
          }
          &[item-right] {
            right: 15px;
          }
        }

        ion-input {
          margin: 0;
          outline: none;

          .text-input {
            padding-left: 55px;
            padding-right: 50px;
          }
        }
      }
    }

    .submit-btn {
      position: absolute;
      left: 30px;
      right: 30px;
      height: 45px;
      bottom:-23px;

      button {
        width: 100%;
        opacity: 1;
      }
    }

    .register-link {
      text-align:center;
      margin:0 0 20px;
      line-height: 14px;

      .register-btn {
        padding: 0;
        margin: 0 0 0 10px;
        line-height: 1;
        height: auto;
        vertical-align: top;
        font-size: 14px;
        line-height: 14px;
      }
    }
  }

  .forgot-btn {
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
    text-align: right;
    padding: 0;
    width: 100%;
    height: auto;
    margin-top: 15px;
    span {
      text-align:right;
      display: block;
    }
  }

  .form-icon {
    display: block;
    margin:0 auto;
    width: 23px;
    height: 23px;
    background: url(../assets/images/form-icons.png) no-repeat;
    background-size: 23px auto;


    &.phone-icon {
      background-position: 0 0
    }
    &.lock-icon {
      background-position: 0 -23px
    }
    &.eye-icon {
      background-position: 0 -46px;
    }
    &.user-icon {
      background-position: 0 -69px;
    }
    &.email-icon {
      background-position: 0 -92px;
    }
  }


}
