page-create-ad-modal {

  .button-gradient2{
    background: black;
    -webkit-animation-name: blackWhiteFade; 
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
  }

  .button-gradient3{
    background: gray;
  }

  .total-style{
    color: cornflowerblue;
    font-size: 20px !important;
    text-align: right !important;
    font-weight: bold;
  }

  @-webkit-keyframes blackWhiteFade {  
    0% { background-color: #1e5799; }
    50% { background-color: black; }
    100% { background-color: #0e7eff; }
  }

  .toolbar-content-md{
    display: contents;
  }

  .header {
    box-shadow: none;
    border: none;

    &:after {
      display: none;
    }
  }
  .toolbar {
    .toolbar-background {
      border: none;
    }
    .bar-button {
      border-radius: 30px;
      width: 42px;
      height: 42px;
      color:#FFF;
      box-shadow: 0px 5px 10px rgba(255, 24, 90, .2);
    }
  }

  .content {
    background:#FFF;


    &[padding] {
      .scroll-content {
        padding: 0px 10px 20px
      }
    }
  }

  .item-block {
    padding-left: 0;
    min-height: 5px;

    .item-inner {
      padding: 0px 10px !important;
      border-bottom-color:#FFF !important;
    }
  }
  .grid {
    margin-bottom: 10px;
  }
  ion-label {
    color:#727272;
    font-size: 14px;
    text-align:left;
    padding: 0;
    margin: 0px 0 10px !important;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0;

    &[stacked] {
      font-size: 14px !important;
    }
  }

  ion-thumbnail {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 57px;

    img {
      position: relative;
      z-index:1;
    }

    &.cover {
      width: auto;
      display: block;
      margin:0 10px;
      height: 170px;


      img {
        width: 100%;
        height: auto;

      }

      .badge {
        position:absolute;
        top: 10px;
        left: 0px;
        z-index:2;
        border-radius:0 10px 10px 0;
        padding: 5px 23px 5px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:400;
        font-size:12px;
        background:#e51358
      }

    }

    &.ad-image {

      &.selected {
        border: solid 3px #e51458;
      }
      .badge {
        position:absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index:2;
        border-radius:0;
        padding: 5px 0 2px;
        text-align:center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:400;
        font-size:12px;
        background:#e51458
      }
    }
  }

  .add-image-button {
    border: solid 1px #d7d8d9;
    border-radius:5px;
    overflow: hidden;
    background:#f9f9f9;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
    height: 57px;


    .add-image-icon {
      display: block;
      width: 22px;
      height: 19px;
      background: url(../assets/images/add-photo-icon.png) no-repeat;
      background-size :22px auto;
      margin: 0 auto;
    }
  }

  ion-footer {
    .toolbar-background {
      background:#FFF !important
    }
  }
}
