<ion-header class="no-shadow">
  <ion-toolbar color="light">
    <ion-title>
      Carrito de Compras
    </ion-title>
    <ion-buttons end>
      <button ion-button round class="button-gradient" (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Mis Herramientas: </ion-label>
  </ion-item>


  <ion-grid *ngIf="order != null">
    <ion-row *ngFor="let product of order.items">
      <ion-col col-3 >
        <ion-thumbnail class="ad-image selected">
          <img src="{{product.imgUrl}}" />
          <ion-badge>{{product.productName}}</ion-badge>
        </ion-thumbnail>
      </ion-col>
      <ion-col col-3 >
        <div class="">
          <ion-label stacked>Cantidad</ion-label>
          <ion-label>{{product.quantity}}</ion-label>
        </div>
      </ion-col>
      <ion-col col-3 >
          <div class="">
            <ion-label stacked>Total $</ion-label>
            <ion-label>{{product.total}}</ion-label>
          </div>
        </ion-col>
        <ion-col col-3 >
            <button class="button-gradient button-gradient3" ion-button round full (click)="deleteItem(product._id)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label class="total-style" stacked>Total: $ {{total}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Editar datos de Facturación:</ion-label>
    <ion-toggle [(ngModel)]="sameRecipe"></ion-toggle>
  </ion-item>

</ion-content>

<ion-footer color="light">
  <ion-toolbar>
      <button class="button-gradient" ion-button round full (click)="dismiss();">
        <ion-icon name="cart"></ion-icon>Continuar Comprando
      </button>
    <button id="pago" class="button-gradient button-gradient2" ion-button round full (click)="dismiss(); easyPago();">
      <ion-icon name="card"></ion-icon>  Realizar Pago
    </button>
  </ion-toolbar>
</ion-footer>
