<ion-content>
  <div class="profile-top">
    <h1>Mi Cuenta</h1>
    <button ion-button clear class="edit-profile-btn">
      <span class="edit-icon"></span>
    </button>
    <div class="bg"></div>
    <span class="user-tn">
      <img *ngIf="myUser != null && myBaseURL != ''" src=">{{myBaseURL}}{{myUser.userImage}}" />
    </span>
  </div>

  <h2 *ngIf="myUser != null">{{myUser.name}}</h2>
  <h3>Bienvenido</h3>

  <div class="connected">
    <span>Connected with</span>
    <i class="connect-icon phone-icon"></i>
    <i class="connect-icon mail-icon"></i>
    <i class="connect-icon facebook-icon"></i>
    <i class="connect-icon twitter-icon"></i>

  </div>

  <button ion-button class="button-gradient" round full (click)="goToLogin()">logout</button>


  <button ion-button color="dark" class="register-btn" full clear (click)="createAccount()">Delete Account</button>
</ion-content>
