

<ion-header class="bar-gradient">
  <ion-navbar color="gradient">
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <i class="header-icon share-icon"></i>
      </button>
      <button ion-button icon-only>
        <i class="header-icon fav-empty-icon"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

    <div *ngIf="showSlideView">
        <ion-slides pager loop="true"  >
          <ion-slide *ngFor="let image of item.productImage" >
              <img src="{{myBaseURL}}{{image}}" imageViewer>
          </ion-slide>
        </ion-slides>
      </div>

  <ion-card>
    <ion-card-header>
      <figure class="user-tn">
        <img src="{{myBaseURL}}{{brandImg}}" />
      </figure>
      <h1>{{item.name}}</h1>
      <h3>{{brandName}} {{item.serial}}</h3>
      <h2>{{item.dimensions}}</h2>

      <button ion-button clear>
        <i class="comment-icon"></i>
      </button>

      <ion-badge>PRECIO: ${{item.price}}</ion-badge>

      <form #myOrder="ngForm" (ngSubmit)="buyProduct(myOrder.value);" >

        <table>
          <tr>
            <td>
              <button type="button" color="primary" (click)="msMin(myOrder.value);"><ion-icon name="remove"></ion-icon>
              </button>
            </td>
            <td>
                <ion-item>
                  <ion-label color="primary" stacked>Cantidad</ion-label>
                  <ion-input type="number"  placeholder="" min="1" step="1" ngModel name="quantity"  [(ngModel)]="cantidad"></ion-input>
                </ion-item>
            </td>
            <td>
                <button type="button" color="primary" (click)="msPlus(myOrder.value);"><ion-icon name="add"></ion-icon>
                </button>
            </td>
          </tr>
        </table>

      </form>

    </ion-card-header>
    <ion-card-content>
      <h4>DESCRIPCION</h4>
      <p>{{item.shortDesc}}</p>
    </ion-card-content>

    <footer>
      <button ion-button right clear>{{item.filter}} {{item.filterType}}</button>
      <h4>Especificaciones</h4>
      <p>{{item.longDesc}}</p>
    </footer>
  </ion-card>


</ion-content>

<ion-footer class="erp">
  <button ion-button full round class="button-gradient" (click)="buyProduct(myOrder.value);">Comprar ya </button>
</ion-footer>
