@font-face {
    font-family: 'montserratbold';
    src: url('../assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'montserratregular';
    src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'montserrat-light';
    src: url('../assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {

    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);

    font-family: 'montserratregular', sans-serif;

  }
  .toolbar-footer{
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  } 
  
  .content {
    background: #f6f6f6;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  
  .button-gradient {
    background-color: #1e5799;
    background: -webkit-linear-gradient(45deg, #ffce00 0%,#e48c07 100%);
    background: linear-gradient(45deg, #ffce00 0%,#e48c07 100%);
    //background-image: url("https://images.vexels.com/media/users/3/76790/list/d2dbb9f5bc2c2f803d81818f49570ba9-textura-del-metal-geom-trico.jpg") !important;
    text-transform: uppercase;
  
    &.fab {
      box-shadow: 5px 5px 10px rgba(216, 216, 216, 0.2);
    }
  }
  
  ion-label {
    color: #504e4e;
    font-family: 'montserratregular';
    font-size:12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin:0 0 10px 5px;
    font-weight: bold;
  }
  
  ion-input {
    margin-bottom: 22px;
    border: solid 1px rgba(56, 60, 63, .2);
    border-radius:5px;
  }
  .tabs-md .tabbar{
    background:#343434;
  }

  .tabs-ios .tabbar,
  .tabbar {
    background:#343434;
    padding-right: 20%;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border: none;
  }
  .tabs-ios ,
  .tabbar  {
    .tab-button {
      text-transform: uppercase;
      color:#727272;
      font-size:10px;
  
      ion-icon {
        display: block;
        width: 24px;
        height: 24px;
        min-width: 24px;
        margin: 0 auto 5px;
        background: url(../assets/images/tab-icons.png) no-repeat;
        background-size: 48px auto;
  
        &[ng-reflect-name="discover"] {
          background-position: 0 0;
        }
        &[ng-reflect-name="chats"] {
          background-position: 0 -24px;
        }
        &[ng-reflect-name="ads"] {
          background-position: 0 -48px;
        }
        &[ng-reflect-name="profile"] {
          background-position: 0 -72px;
        }
      }
      &[aria-selected=true] {
        ion-icon {
          &[ng-reflect-name="discover"] {
            background-position: -24px 0;
          }
          &[ng-reflect-name="chats"] {
            background-position: -24px -24px;
          }
          &[ng-reflect-name="ads"] {
            background-position: -24px -48px;
          }
          &[ng-reflect-name="profile"] {
            background-position: -24px -72px;
          }
        }
      }
    }
  
  }
  
  .toolbar-ios-gradient,
  .toolbar-md-gradient {
    color:#FFF;
  }
  
  .toolbar-ios-gradient .toolbar-background-ios,
  .toolbar-md-gradient .toolbar-background-md{
    background-color: #1e5799;
    background: -webkit-linear-gradient(45deg, #dd9a42 0%, #e7b044 100%);
    background: linear-gradient(45deg, #dd9a42 0%, #e7b044 100%);
    border: none;
  
  }
  ion-header {
    box-shadow: 0 5px 15px #b7b2b34d;
  
    &.bar-gradient {
      background-color: #1e5799;
      background: -webkit-linear-gradient(5deg, #db7744 0%, #f19b12 100%);
      background: linear-gradient(5deg, #db7744 0%, #f19b12 100%);
  
      > ion-title {
        margin: 10px 0;
      }
    }
  }
  .toolbar-title-ios,
  .toolbar-title-md {
    color:#FFF;
  }
  
  .header-icon {
     display: block;
     width: 20px;
     height: 20px;
     margin: 0 auto;
     background: url(../assets/images/header-icons.png) no-repeat;
     background-size: 20px auto;
  
    &.filter-icon {
      background-position: 0 0;
    }
    &.search-icon {
       background-position: 0 -20px;
    }
    &.fav-empty-icon {
      background-position: 0 -60px;
    }
    &.share-icon {
      background-position: 0 -80px;
    }
    &.star-icon {
      background-position: 0 -100px;
    }
   }
  
  ion-buttons {
    .bar-button {
      margin:0 5px;
    }
  }
  
  ion-footer{



    .toolbar-background {
      background: #f7f7f7;
      border-top-color: #ebebeb !important;
    }
    .toolbar-content {
      padding: 16px;
    }
    .button-full {
      width: 65%;
      height: 45px;
      font-size:14px;
      font-weight: 400;
      margin:0 auto;
      box-shadow: 0px 5px 15px rgba(199, 199, 199, 0.49);
    }
  }
  
  .back-button {
    .button-inner {
      display: block;
      background: url(../assets/images/header-icons.png)  0 -40px no-repeat;
      background-size: 20px auto;
      width: 20px;
      height: 20px;
      margin-left: 10px;
  
      * {
        display: none !important;
      }
    }
  }
  
  .searchbar  {
    background: none;
    border: none;
    padding: 0 20px 15px;
  
    .searchbar-input-container {
      position:relative;
      background:#eeeeee;
      height: 36px;
      padding: 6px;
      border-radius:5px;
  
      &:before {
        content:'';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5.5px 10px 5.5px;
        border-color: transparent transparent #eeeeee transparent;
        position: absolute;
        top: -10px;
        right: 29px;
      }
  
      .searchbar-input {
        height: 23px;
        background:#727272;
        width: 100%;
        color:#FFF;
        padding: 5 10px;
        border-radius:3px;
        font-size:12px;
        font-family: 'montserrat-light';
  
      }
    }
  
  }
  
  .scroll {
      height: 100%;
  }
  
  .auto-scroll .scroll-content {
      overflow-y:auto !important;
  }
  