
<ion-header class="bar-gradient">
    <ion-title style="text-align: center">
        Bienvenido
      </ion-title>
  <ion-segment [(ngModel)]="home" mode="md" color="light">
    <ion-segment-button value="offers" >
      Inicio
    </ion-segment-button>
    <ion-segment-button value="categories">
      Categorías
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content padding class="card-background-page">


  <div [ngSwitch]="home">
    <ion-list *ngSwitchCase="'offers'">
      <ion-slides pager="true" loop="true" autoplay="5000" speed="500" >
          <ion-slide>
            <img src="{{myBaseURL}}uploads/Beasytools.png" />
          </ion-slide>
          <ion-slide >
            <img src="{{myBaseURL}}uploads/Seasytools.png"/>
          </ion-slide>
          <ion-slide >
              <img src="{{myBaseURL}}uploads/unotools.png"/>
          </ion-slide>
        </ion-slides>

    <div *ngIf="showSearchResults">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of items" col-6>
              <ion-card  >
                  <ion-item>
          
                    <h2>{{item.name}}</h2>
                    <p>Precio: USD {{item.price}}</p>
                  </ion-item>
                
                  <img (click)="showProduct(item)" src="{{myBaseURL}}{{item.productImage[0]}}">
                
                  <ion-card-content>
                    <p>{{item.dimensions}}</p>
                  </ion-card-content>
                
                  <ion-item actions>
                      <button ion-button color="primary" clear item-end icon-start>
                          <ion-icon name='cart'></ion-icon>
                        </button>
                        <button ion-button color="primary" clear item-end icon-start>
                            <ion-icon name='star'></ion-icon>
                          </button>
                      
                      <button *ngIf="item.liked == null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                        <ion-icon name='heart'></ion-icon>
                      </button>
                      <button *ngIf="item.liked != null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                        <ion-icon name='heart' color="danger"></ion-icon>
                      </button>

                    </ion-item>
                </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>    
      </div>

     
      <ion-grid>
          <ion-row>
            <ion-col *ngFor="let item of lista1" col-6>
                <ion-card  >
                    <ion-item>
            
                      <h2>{{item.name}}</h2>
                      <p>Precio: USD {{item.price}}</p>
                    </ion-item>
                  
                    <img (click)="showProduct(item)" src="{{myBaseURL}}{{item.productImage[0]}}">
                  
                    <ion-card-content>
                      <p>{{item.dimensions}}</p>
                    </ion-card-content>
                  
                    <ion-item actions>
                        <button ion-button color="primary" clear item-end icon-start>
                            <ion-icon name='cart'></ion-icon>
                          </button>
                          <button ion-button color="primary" clear item-end icon-start>
                              <ion-icon name='star'></ion-icon>
                            </button>
                        
                        <button *ngIf="item.liked == null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                          <ion-icon name='heart'></ion-icon>
                        </button>
                        <button *ngIf="item.liked != null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                          <ion-icon name='heart' color="danger"></ion-icon>
                        </button>
  
                      </ion-item>
                  </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>  
        
        
        <ion-slides slidesPerView="1.5" loop="true">
            <ion-slide class="minorSlide">
              <img src="{{myBaseURL}}uploads/aa.png" />
            </ion-slide>
            <ion-slide class="minorSlide">
              <img src="{{myBaseURL}}uploads/bb.png"/>
            </ion-slide>
            <ion-slide class="minorSlide">
                <img src="{{myBaseURL}}uploads/cc.png"/>
            </ion-slide>
          </ion-slides>

      
        <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of lista2" col-6>
                  <ion-card  >
                      <ion-item>
              
                        <h2>{{item.name}}</h2>
                        <p>Precio: USD {{item.price}}</p>
                      </ion-item>
                    
                      <img (click)="showProduct(item)" src="{{myBaseURL}}{{item.productImage[0]}}">
                    
                      <ion-card-content>
                        <p>{{item.dimensions}}</p>
                      </ion-card-content>
                    
                      <ion-item actions>
                          <button ion-button color="primary" clear item-end icon-start>
                              <ion-icon name='cart'></ion-icon>
                            </button>
                            <button ion-button color="primary" clear item-end icon-start>
                                <ion-icon name='star'></ion-icon>
                              </button>
                          
                          <button *ngIf="item.liked == null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                            <ion-icon name='heart'></ion-icon>
                          </button>
                          <button *ngIf="item.liked != null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                            <ion-icon name='heart' color="danger"></ion-icon>
                          </button>
    
                        </ion-item>
                    </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>    


          <ion-slides slidesPerView="1.5" loop="true">
              <ion-slide class="minorSlide">
                <img src="{{myBaseURL}}uploads/dd.png" />
              </ion-slide>
              <ion-slide class="minorSlide">
                <img src="{{myBaseURL}}uploads/ee.png"/>
              </ion-slide>
              <ion-slide class="minorSlide">
                  <img src="{{myBaseURL}}uploads/ff.png"/>
              </ion-slide>
            </ion-slides>

          <ion-grid>
              <ion-row>
                <ion-col *ngFor="let item of lista3" col-6>
                    <ion-card  >
                        <ion-item>
                
                          <h2>{{item.name}}</h2>
                          <p>Precio: USD {{item.price}}</p>
                        </ion-item>
                      
                        <img (click)="showProduct(item)" src="{{myBaseURL}}{{item.productImage[0]}}">
                      
                        <ion-card-content>
                          <p>{{item.dimensions}}</p>
                        </ion-card-content>
                      
                        <ion-item actions>
                            <button ion-button color="primary" clear item-end icon-start>
                                <ion-icon name='cart'></ion-icon>
                              </button>
                              <button ion-button color="primary" clear item-end icon-start>
                                  <ion-icon name='star'></ion-icon>
                                </button>
                            
                            <button *ngIf="item.liked == null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                              <ion-icon name='heart'></ion-icon>
                            </button>
                            <button *ngIf="item.liked != null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                              <ion-icon name='heart' color="danger"></ion-icon>
                            </button>
      
                          </ion-item>
                      </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>    




            <ion-slides autoplay="5000" speed="500" slidesPerView="1.5" loop="true">
                <ion-slide class="minorSlide">
                  <img src="{{myBaseURL}}uploads/gg.png" />
                </ion-slide>
                <ion-slide class="minorSlide">
                  <img src="{{myBaseURL}}uploads/hh.png"/>
                </ion-slide>
                <ion-slide class="minorSlide">
                  <img src="{{myBaseURL}}uploads/ii.png"/>
                </ion-slide>
                <ion-slide class="minorSlide">
                    <img src="{{myBaseURL}}uploads/jj.png"/>
                  </ion-slide>
              </ion-slides>



    </ion-list>
  </div>
    

  <div [ngSwitch]="home">
    <ion-list *ngSwitchCase="'categories'">
        <ion-grid>
            <ion-row>
              <ion-col *ngFor="let cat of categoriesList" col-6>
                  <ion-card  >
                      <ion-item style="text-align: center">
                        <h2>{{cat.name}}</h2>
                      </ion-item>
                      <img (click)="showCategory(cat)" src="{{myBaseURL}}{{cat.categoryImage}}">
                    </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
    </ion-list>
  </div>

</ion-content>
