page-myuser {

  .quest{
    background: linear-gradient(45deg, #e48c07 0%, #ffd915 100%);
 
  }

  .profile-top {
    color: #FFF;
    height: 135px;
    position: relative;
    z-index:2;
    text-align:center;
    padding-top:20px;
    margin-bottom:80px;

    .bg {
      background-color: #1e5799;
      background: -webkit-linear-gradient(45deg, #e48c07 0%, #ffd915 100%);
      background: linear-gradient(45deg, #e48c07 0%, #ffd915 100%);
      box-shadow: 0 5px 15px rgba(255, 205, 24, 0.3);
      position: absolute;
      bottom:0px;
      right:-20px;
      width: 120%;
      height: 120%;
      transform: rotate(-5deg);
      z-index: 1;
    }

    .user-tn {
      width:122px;
      height: 122px;
      background:#cccccc;
      position: absolute;
      left:50%;
      bottom:-56px;
      border-radius:66px;
      margin-left:-61px;
      box-shadow: 5px 5px 10px rgba(255, 24, 90, .1);
      z-index:2;
      border: solid 5px #FFF;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      font-family: 'montserratregular', sans-serif;
      font-weight: 400;
      font-size:18px;
      margin: 0;
      position: relative;
      z-index:2;
    }
    .edit-profile-btn {
      position: absolute;
      z-index:2;
      top:8px;
      right: 15px;
      padding: 0;
      margin: 0;
    }
    .edit-icon {
      display: block;
      margin:0 5px;
      width: 20px;
      height: 22px;
      background: url(../assets/images/edit-icon.png) no-repeat;
      background-size: 20px auto;
    }
  }

  h2 {
    font-family: 'montserratregular', sans-serif;
    font-weight: 400;
    font-size:36px;
    color:#393939;
    margin:0 0 10px;
    text-align:Center;
  }
  h3 {
    font-family: 'montserratregular', sans-serif;
    font-weight: 400;
    font-size:14px;
    color:#727272;
    margin:0 0 20px;
    text-align:center;
  }

  .connected {
    background:#FFF;
    box-shadow: 0 10px 30px rgba(1,1,1,.1);
    padding: 15px 0;
    text-align:center;
    color:#727272;
    font-size:14px;
    margin:0 22px 40px;
    border-radius:6px;

    span {
      display: block;
      margin-bottom:10px;
      font-size: 14px;
    }

    .connect-icon {
      display: inline-block;
      vertical-align: middle;
      margin:0 5px;
      width: 25px;
      height: 25px;
      background: url(../assets/images/connect-icons.png) no-repeat;
      background-size: 25px auto;

      &.phone-icon {
        background-position: 0 0;
      }
      &.mail-icon {
        background-position: 0 -25px;
      }
      &.facebook-icon {
        background-position: 0 -50px;
      }
      &.twitter-icon {
        background-position: 0 -75px;
      }
    }

  }

  .button-full {
    width:66%;
    margin: 0 auto;
  }
  .button-gradient {
    margin-bottom:10px;
  }


}

ion-fab[bottom] {
  bottom: 17px;
}
ion-fab[right] {
  right: 18px;
}
