<ion-header class="bar-gradient">
    <ion-title style="text-align: center">
      Bienvenido
    </ion-title>
  <ion-segment [(ngModel)]="profile" mode="md" color="light">
    <ion-segment-button value="profiler" >
      Perfil de Usuario
    </ion-segment-button>
    <ion-segment-button value="quest" >
        Acerca de 
      </ion-segment-button>
  </ion-segment>
</ion-header>
  

<ion-content>
  <div [ngSwitch]="profile">
    <div *ngSwitchCase="'profiler'">
      <div class="profile-top">
        <h1>Mi Cuenta</h1>
        <button ion-button clear class="edit-profile-btn">
          <span class="edit-icon"></span>
        </button>
        <div class="bg"></div>
        <span class="user-tn" >
          <img  [src]="userImage ? userImage : 'assets/img/default.png'">
        </span>
      </div>

      <h2 *ngIf="myUser != null">{{myUser.name}}</h2>
      <h3>Bienvenido</h3>

      <div class="connected">
        <span>Contactar mediante Whatsapp:</span>
        <i class="connect-icon whatsapp-icon"></i>

      </div>
      <div *ngIf="orders != null">
        
          <button *ngFor="let order of orders"  ion-button class="button-gradient" round >Items: {{order.items.length}} Estado:{{order.estado}}</button>
        
      </div>
    </div>
  </div>

  <div [ngSwitch]="profile" class="quest">
    
    <div *ngSwitchCase="'quest'">
      <h1>Preguntas frecuentes FAC</h1>
      <h3>1. pregunta:</h3>
      <p>Respuesta pregunta</p>
      <h3>2. pregunta:</h3>
      <p>Respuesta pregunta</p>
    </div>

    

  </div>
  
</ion-content>
  