<ion-header class="bar-gradient">
  <ion-title>
    Productos Guardados
  </ion-title>
<ion-segment [(ngModel)]="chat" mode="md" color="light">
  <ion-segment-button value="buying" >
    Favoritos
  </ion-segment-button>
</ion-segment>
</ion-header>

<ion-content>
  <div [ngSwitch]="chat">
    <ion-list *ngSwitchCase="'buying'">

      <ion-item class="item-unread" *ngFor="let item of items" >
        <ion-thumbnail item-left>
          <img (click)="showProduct(item)" src="{{myBaseURL}}{{item.productImage[0]}}" />
          <em class="online"></em>
        </ion-thumbnail>
        <ion-badge item-right class="time">
            <button *ngIf="item.liked == null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                <ion-icon name='heart'></ion-icon>
              </button>
              <button *ngIf="item.liked != null" ion-button color="primary" (click)="liked(item)" clear item-end icon-start>
                <ion-icon name='heart' color="danger"></ion-icon>
              </button>
        </ion-badge>
        <h1>{{item.name}}</h1>
        <h2>USD {{item.price}} / {{item.dimensions}}</h2>
        <p>{{item.shortDesc}}</p>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>
